<div class="wrapper">
  <header>
    <title>Hafuru - Coming soon</title>
  </header>

  <main class="content">
    <h1>Hafuru - Coming soon</h1>

    <div class="countdown">
      <div class="countdown__days">
        <div class="number"></div>
        <span class>Days</span>
      </div>

      <div class="countdown__hours">
        <div class="number"></div>
        <span class>Hours</span>
      </div>

      <div class="countdown__minutes">
        <div class="number"></div>
        <span class>Minutes</span>
      </div>

      <div class="countdown__seconds">
        <div class="number"></div>
        <span class>Seconds</span>
      </div>
    </div>

<!--     <p>Our website is under construction but will be here soon<br />Subscribe to be notified.</p>

    <form action="">
      <input id="form-email" name="form-email" type="email" placeholder="Your email address" />
      <input type="submit" value="Notify me" />
    </form>

  </main>

  <footer>
    <ul class="footer__links">
      <li><a href="#"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#"><span class="fab fa-facebook"></span></a></li>
      <li><a href="#"><span class="fab fa-google-plus"></span></a></li>
      <li><a href="#"><span class="fab fa-github"></span></a></li>
      <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
    </ul>
  </footer> -->
</div>
